# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
*.env
.env.*.local

# Packaging / installs
*.egg-info/
*.dist-info/
build/
dist/
.eggs/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing / Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
